# OS
.DS_Store

# Python
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# MATLAB
*.asv
*.m~
slprj/
codegen/
*.mex*

# Data & outputs
data/raw/
data/interim/
outputs/
figures/
*.mat

# Notebooks temp
*.ipynb~
